<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
    <system.webServer> 
        <rewrite> 
            <rules> 
                <clear /> 
                <rule name="SubFolder" stopProcessing="true"> 
                <match url=".*" /> <conditions> <add input="{HTTP_HOST}" pattern="^(www.)?fireindia.net" /> 
                    <add input="{PATH_INFO}" pattern="^/" negate="true" /> 
                </conditions> 
                <action type="Rewrite" url="exhibitorlogin/{R:0}" /> 
            </rule> 
            <rule name="SubFolderexhibitorlogin" patternSyntax="Wildcard"> 
                <match url="*"/> 
                <conditions> 
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/> 
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/> 
                </conditions> 
                <action type="Rewrite" url="index.php"/> 
            </rule>
            </rules> 
            </rewrite> 
    </system.webServer> 
</configuration>